assets/files/report.dtd

<!ELEMENT report (statistics, student*)>
<!ELEMENT statistics (totalstudents, totalaverage)>
<!ELEMENT totalstudents (#PCDATA)>
<!ELEMENT totalaverage (#PCDATA)>
<!ELEMENT student (name, lastname, completed, average)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT lastname (#PCDATA)>
<!ELEMENT completed (#PCDATA)>
<!ELEMENT average (#PCDATA)>
<!ATTLIST student id CDATA #REQUIRED>